.header {
    
    position: sticky;
    height: 100px;
    top: 0;
    z-index: 1;
    background-color: white;
}

.header-name-container {
    
    float: left;
    width: auto;
    height: 100px;
}

.header h1 {
    margin-left: 20px;
    line-height: 65px;
}

.header-navigation-button-container {
    height: 100px;
    float: right;
}

.navigator-button {
    width: fit-content;
    float: left;
    padding: 0 40px;
    color: #5b0891;
    line-height: 58px;
    margin-top: 25px;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.navigator-button:hover {
    color: #1dd0ff;
}



.navigator-button--selected {
    color: #1dd0ff;
}

@media only screen and (max-width: 868px) {

    .header {
        height: 70px;
        
    }

    .header-name-container {
        width: 100%;
    }

    .header h1 {
       font-size: 20px;
       line-height: 45px;
       margin-left: 10px;
       float: left;
    }

    button {
        float: right;
        padding: 0;
        border-width: 0;
        background-color: white;
    }


}

.item {
    text-align: center;
    padding: 10%;
}

.item:hover {
    cursor: pointer;
}