.backgroundImage {
    width: 100%;
    height: 600px;
    filter: sepia(200%) hue-rotate(250deg) saturate(700%) blur(1px);
}

.profilePic {
    width: 470px;
    height: 470px;
    float: left;
    filter: grayscale(100%);
}

.link-image {
    margin: 0 15px;
}
 
.link-image:hover {
    cursor: pointer;
}

.image_leftToRight-appear {
    opacity: 0.01;
    position: relative;
    left: -70px;
  }
  
.image_leftToRight-appear.image_leftToRight-appear-active {
    opacity: 1;
    transition: all 1.5s ease-in;
    position: relative;
    left: 0px;
}

@media only screen and (max-width: 868px) {
    .profilePic {
        width: 80vw;
        height: 80vw;
        height: same-as-width;
    }
}