.personal-details {
    width: 470px;
    height: 470px;
    padding: 5vw;
    background-color: whitesmoke;
    box-sizing: border-box;
}

.personal-details h1 {
    margin: 5px 0;
}

.personal-details h2 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin: 2px 0;
    color: #182153;
}

.personal-details h3 {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    margin: 2px 0;
    color: #5b0891;
}

.personal-details h4 {
    font-size: 14px;
    font-weight: lighter;
    font-family: 'Ubuntu', sans-serif;
    margin: 2px 0;
    color: #182153;
}

.personalDetails_rightToLeft-appear {
    opacity: 0.01;
    position: relative;
    left: 70px;
  }
  
.personalDetails_rightToLeft-appear.personalDetails_rightToLeft-appear-active {
    opacity: 1;
    transition: all 1.5s ease-in;
    position: relative;
    left: 0px;
}

@media only screen and (max-width: 868px) {
    .personal-details {
        width: unset;
        height: unset;
    }
}