.year-and-role {
    width: 45vw;
    display: inline-block;
    text-align: right;
    padding-right: 4vw;
    position: relative;
    min-width: 45vw;
}

.dot-and-vl-container {
    padding: 30px 0 0;
    display: inline-block;
}
.org-and-desc {
    display: inline-block;
    text-align: left;
    padding-left: 40px;
    padding-right: 150px;
    border-left: 0.5px solid lightgray;
    position: relative;
    padding-bottom: 40px;
    
}

.dot-and-vl {
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.dot {
    height: 5px;
    width: 5px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: -3px;
}

.vl {
    border-left: 0.5px solid lightgrey;
    display: inline-block;
    height: 500px;
    width: 0.5px;
    margin-left: 2px;
}

h2, h3, p{
    margin: 0;
}

.timeline-container {
    display: flex;
}



.movable-container {
    position: relative;
}

h2 {
    color: #182153;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    
    margin-bottom: 15px;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: #182153;
    letter-spacing: 0.1em;
    margin-bottom: 15px;    

}

p {
    font-size: 13px;
    letter-spacing: 0.1em;
}

.hr-top {
    margin-bottom: 30px;
}

.leftToRight-appear {
    opacity: 0.01;
    position: relative;
    left: -60px;
  }
  
.leftToRight-appear.leftToRight-appear-active {
    opacity: 1;
    transition: all 1.5s ease-in;
    position: relative;
    left: 0px;
}

.rightToLeft-appear {
    opacity: 0.01;
    position: relative;
    left: 60px;
  }
  
.rightToLeft-appear.rightToLeft-appear-active {
    opacity: 1;
    transition: all 1.5s ease-in;
    position: relative;
    left: 0px;
}

.dotAnimation-appear {
    opacity: 0.01;
    position: absolute;
    top: 30px;
  }
  
.dotAnimation-appear.dotAnimation-appear-active {
    opacity: 1;
    transition: all 1.5s ease-in;
    position: absolute;
    top: 0px;
}

@media only screen and (max-width: 868px) {
    .timeline-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 868px) {
    .year-and-role {
        text-align: left;
        padding-left: 40px;
        padding-right: 0;
    }

    .dot {
        top: -55px;
        margin: 0 20px;
    }

    .org-and-desc {
        padding-right: 40px;
    }

    .dotAnimation-appear {
        opacity: 0.01;
        position: absolute;
        left: -60px;
        top: -55px
      }
      
    .dotAnimation-appear.dotAnimation-appear-active {
        opacity: 1;
        transition: all 1.5s ease-in;
        position: absolute;
        left: 0px;
        top: -55px
    }
}